<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <startAnalytics>
        <processor type="Sitecore.Analytics.Pipelines.StartAnalytics.CheckPreconditions, Sitecore.Analytics" >
          <patch:attribute name="type">Sitecore.Support.Analytics.Pipelines.StartAnalytics.CheckPreconditions, Sitecore.Support.122492</patch:attribute>
        </processor>
      </startAnalytics>
    </pipelines>
  </sitecore>
</configuration>